<% const page = "cp1" %>
<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head', {meta: data.pageMeta[page]}) %>

<body>
  <%- include('./common/_p-header', {page: page}) %>
  <!-- <style>
    .p-main {
    background-color: red;
    }
  </style> -->
  <main class="p-main">


    <section class="p-component l-section">
      <div class="p-component__mainTitle">
        <h2 class="c-heading c-heading--2">タイトル</h2>
      </div>
      <div class="p-component__previewTitle">
        <h3 class="c-heading c-heading--3">.c-mvLower</h3>
      </div>
      <div class="p-component__preview">
        <%- include('./component/_c-mvLower', {
          modifier: "01" ,
          titleEn: "about&nbsp;us",
          titleJp:"当社について"
        }) %>
        <%- include('./component/_c-mvLower', {
          modifier: "02" ,
          titleEn: "service",
          titleJp:"サービス"
        }) %>
        <%- include('./component/_c-mvLower', {
          modifier: "03" ,
          titleEn: "news",
          titleJp:"ニュース"
        }) %>
        <%- include('./component/_c-mvLower', {
          modifier: "01" ,
          titleEn: "case&nbsp;study",
          titleJp:"導入事例"
        }) %>
        <%- include('./component/_c-mvLower', {
          modifier: "04" ,
          titleEn: "download",
          titleJp:"資料ダウンロード"
        }) %>
        <%- include('./component/_c-mvLower', {
          modifier: "05" ,
          titleEn: "contact",
          titleJp:"お問い合わせ"
        }) %>
      </div>
    </section>


    <div class="l-inner">

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">ビューモアボタン</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-viewButton</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-viewButton' ) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">ビューモアボタン（右へ移動）</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-moreButton</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-moreButton', {modifier: ""}) %>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-moreButton', {modifier: "accent"}) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">お申し込みはこちらボタン</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-applicationButton</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-applicationButton', {modifier: ""}) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">ケースボタン</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-caseButton</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-caseButton', {title: "ビジネス英語研修の詳細"}) %>
          <%- include('./component/_c-caseButton', {title: "異文化コミュニケーションの詳細"}) %>
          <%- include('./component/_c-caseButton', {title: "ビジネス留学プログラムの詳細"}) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">タイトル</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-title</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-title', {modifier: "" , titleEn: "about&nbsp;us",
         titleJp:"当社について"}) %>
          <%- include('./component/_c-title', {modifier: "" , titleEn: "service",
         titleJp:"サービス"}) %>
          <%- include('./component/_c-title', {modifier: "white" , titleEn: "case&nbsp;study",
         titleJp:"導入事例"}) %>
          <%- include('./component/_c-title', {modifier: "" , titleEn: "news",
         titleJp:"新着情報"}) %>
          <%- include('./component/_c-title', {modifier: "white" , titleEn: "mission",
         titleJp:"社会的使命"}) %>
          <%- include('./component/_c-title', {modifier: "white" , titleEn: "vision",
         titleJp:"企業理念"}) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">サービスカード下層ページ</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-serviceCard-lower</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-serviceCard-lower', {
            modifier: "first",
            title: "ビジネス英語研修",
            subTitle:"Business&nbsp;English&nbsp;Training",
            text01:"ビジネス英会話はこれからの時代、すべてのビジネスパーソンが学ぶべき必須スキルと考えおります。<br>海外にビジネス展開する際にはもちろんのこと、日本国内でも英会話コミュニケーションができることによってチャンスが掴める場面があります。",
            text02:"担当する講師は皆、豊富な海外ビジネス経験者であり、ティーチングスキル、コミュニケーションスキル、人間性に加えて採用後には厳しいトレーニング期間を設けているので、様々な職業や職種に合ったスキルまで身につけられます。<br>また、必要に応じてマンツーマン形式のレッスンを行うことも可能なので、時間の限り話すことができ効率よく上達することができます。",
            dd01:"ビジネスの中で使える英語コミュニケーション能力が必要な方",
            dd02:"時間内容要相談",
            }) %>
          <%- include('./component/_c-serviceCard-lower', {
            modifier: "second",
            title: "異文化コミュニケーション",
            subTitle:"Cross-cultural&nbsp;communication",
            text01:"急速にグローバル化が進んでおり、ビジネスの場面に限らず様々な文化的背景を持つ者同士の交流はもはや日常的な光景となりました。<br>言語や文化が異なる相手を理解することで世界が広がり、新たなビジネスチャンスに巡り会うことは少なくありません。<br>多様な価値観を尊重しながら言葉の垣根を越え、コミュニケーションの力で他者を理解しようとする「異文化コミュニケーション」はこれからの時代、さらに重要となるスキルと言えます。",
            text02:"コミュニケーションの基本となる日本語と英語の力を鍛えつつ、アプローチする国の文化を同時に学び、スムーズなビジネス展開をサポートいたします。",
            dd01:"海外へのビジネス展開を検討されている方",
            dd02:"時間内容要相談",
            }) %>
          <%- include('./component/_c-serviceCard-lower', {
            modifier: "third",
            title: "ビジネス留学プログラム",
            subTitle:"Business&nbsp;study&nbsp;abroad&nbsp;program",
            text01:"将来的に海外で働きたい方に向けた講座をご用意しております。一般的には3ヶ月〜1年の期間で基本的な英会話スキルと、海外でのビジネスマナー習得を目指します。<br>通常の語学留学では得られないビジネスの場で通用するコミュニケーションスキル習得に重点をおいておりますので、海外でビジネス展開する際に自信を持って活動することができるようになります。",
            text02:"お申し込みいただく際に綿密なヒアリングを行い、おすすめの留学先を複数ピックアップいたします。海外ビジネス経験豊富な講師が、留学後のキャリアプラン作成までお手伝いいたします。",
            dd01:"英語コミュニケーション能力を習得し、将来的に海外で働きたい方",
            dd02:"時間内容要相談",
            }) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">サービスカード</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-serviceCard</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-serviceCard', {
            modifier: "first",
            img_path: "01",
            alt:"オフィス環境でカジュアルな服装の若者たちが協力して作業している様子",
            title1:"",
            title2:"ビジネス英語研修",
            text:"ビジネス英会話はこれからの時代、すべてのビジネスパーソンが学ぶべき必須スキルと考えおります。海外にビジネス展開する際にはもちろんのこと、日本国内でも英会話コミュニケーションができることによってチャンスが掴める場面があります。",
          }) %>
          <%- include('./component/_c-serviceCard', {
            modifier: "second",
            img_path: "02",
            alt:"伝統的な衣装を着たアフリカの女性と子供たちが地域の集会で楽しそうに踊っている",
            title1:"異文化",
            title2:"コミュニケーション研修",
            text:"急速にグローバル化が進んでおり、ビジネスの場面に限らず様々な文化的背景を持つ者同士の交流はもはや日常的な光景となりました。<br>言語や文化が異なる相手を理解することで世界が広がり、新たなビジネスチャンスに巡り会うことは少なくありません。",
          }) %>
          <%- include('./component/_c-serviceCard', {
            modifier: "third",
            img_path: "03",
            alt:"モダンなオフィスで笑顔の同僚がラップトップを囲んでコラボレーションしている様子",
            title1:"ビジネス留学",
            title2:"サポートプログラム",
            text:"将来的に海外で働きたい方に向けた講座をご用意しております。一般的には3ヶ月〜1年の期間で基本的な英会話スキルと、海外でのビジネスマナー習得を目指します。<br>通常の語学留学では得られないビジネスの場で通用するコミュニケーションスキル習得に重点をおいておりますので、海外でビジネス展開する際に自信を持って活動することができるようになります。",
          }) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">ケースカード</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-caseCard</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-caseCard', {
            img_path: "01",
            alt: "AAA株式会社ロゴ",
            title: "AAA株式会社",
            category: "ビジネス英語研修"
          }) %>
          <%- include('./component/_c-caseCard', {
            img_path: "02",
            alt: "合同会社BBBロゴ",
            title: "合同会社BBB",
            category: "異文化コミュニケーション"
          }) %>
          <%- include('./component/_c-caseCard', {
            img_path: "03",
            alt: "株式会社CCCロゴ",
            title: "株式会社CCC",
            category: "ビジネス英語研修"
          }) %>
          <%- include('./component/_c-caseCard', {
            img_path: "04",
            alt: "DDD株式会社ロゴ",
            title: "DDD株式会社",
            category: "異文化コミュニケーション"
          }) %>
          <%- include('./component/_c-caseCard', {
            img_path: "01",
            alt: "EEE株式会社のロゴ",
            title: "EEE株式会社",
            category: "ビジネス留学プログラム"
          }) %>
          <%- include('./component/_c-caseCard', {
            img_path: "01",
            alt: "FFF株式会社ロゴ",
            title: "FFF株式会社",
            category: "ビジネス英語研修"
          }) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">ページネーション</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-pagenavi</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-pagenavi') %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">個別詳細ページネーション</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-pagenaviSingle</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-pagenaviSingle') %>
        </div>
      </section>

    </div>
  </main>
  <div class="l-scroll-top">
    <%- include('./component/_c-scroll-top') %>
  </div>
  <%- include('./common/_p-footer', {page: page}) %>
</body>

</html>