<% const page = "cp1" %>
<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head', {meta: data.pageMeta[page]}) %>

<body>
  <%- include('./common/_p-header', {page: page}) %>
  <style>
    .p-main {
    background-color: red;
    }
  </style>
  <main class="p-main">
    <div class="l-inner">

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">ビューモアボタン</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-viewButton</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-viewButton' ) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">ビューモアボタン（右へ移動）</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-moreButton</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-moreButton', {modifier: ""}) %>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-moreButton', {modifier: "accent"}) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">お申し込みはこちらボタン</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-applicationButton</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-applicationButton', {modifier: ""}) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">ケースボタン</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-caseButton</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-caseButton', {title: "ビジネス英語研修の詳細"}) %>
          <%- include('./component/_c-caseButton', {title: "異文化コミュニケーションの詳細"}) %>
          <%- include('./component/_c-caseButton', {title: "ビジネス留学プログラムの詳細"}) %>
        </div>
      </section>

    </div>
  </main>
  <div class="l-scroll-top">
    <%- include('./component/_c-scroll-top') %>
  </div>
  <%- include('./common/_p-footer', {page: page}) %>
</body>

</html>