<% const page = "cp2" %>
<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head', {meta: data.pageMeta[page]}) %>
  <!-- <style>
    .p-main {
    background-color: blue;
    }
  </style> -->
<body>
  <%- include('./common/_p-header', {page: page}) %>
  <main class="p-main">
    <div class="l-inner">

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">役員紹介（単数）</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-introduction</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-introduction',{
            job: "代表取締役社長",
            name: "波瑠&emsp;慶太",
            text: "20年間外資系企業に勤務し、世界17カ国でビジネスを展開。<br>様々な文化に触れ、コミュニケーションスキルを磨き、同時にその必要性を実感する。<br>身も講師を務め、実体験から得られた知見を皆様に還元し、グローバルなビジネス展開をサポートいたします。",
            img_path: "01",
            alt: "代表取締役社長"
          }) %>
          <%- include('./component/_c-introduction',{
            job: "取締役",
            name: "ジャック・スミス",
            text: "オーストラリア出身。<br>英会話の講師として13年のキャリアがあります。<br>翻訳業務も担当しており、外国映画の日本版DVDの字幕やテレビ番組の英語をヒヤリングなども行なっております。<br>皆様に「より気持ちの伝わる英会話」を習得していただくサポートをいたします。",
            img_path: "02",
            alt: "取締役"
          }) %>
          <%- include('./component/_c-introduction',{
            job: "取締役",
            name: "メアリー・ジャクソン",
            text: "アメリカ出身。<br>メジャーリーグ球団「ニューヨークヤンキース」の通訳担当として7年間チームに在籍。<br>数多くの契約交渉の経験を活かし、国際ビジネスにおけるコミュニケーションのマナーから応用までお伝えいたします。",
            img_path: "03",
            alt: "取締役"
          }) %>
        </div>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">導入の流れ</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-step</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-step',{
            modifier: "01",
            number: "01",
            title: "お問い合わせ",
            text: "お問い合わせフォームより必要事項を誤入力の上、お申し込みください"
          }) %>
          <%- include('./component/_c-step',{
            modifier: "02",
            number: "02",
            title: "ご提案",
            text: "ご依頼の背景をお伺いし、必要なスキルと習得期間から最適なプランをご提案いたします"
          }) %>
          <%- include('./component/_c-step',{
            modifier: "03",
            number: "03",
            title: "日程調整",
            text: "研修日数と開始日を調整し、今後の流れ全体の段取りをご提案いたします"
          }) %>
          <%- include('./component/_c-step',{
            modifier: "04",
            number: "04",
            title: "研修開始",
            text: "研修当日はお約束のお時間の30分前に講師が伺います。<br><span class='c-step__text--accent'>※キャンセルのご連絡は2日前までにお願いいたします</span>"
          }) %>
        </div>
      </section>
      

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">アコーディオン</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-accordion</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-accordion', {
            title: "どんな教材を使うのでしょうか？",
            text: "録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br>ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。",
            icon: "",
            modifier: "type2"
          }) %>
          <%- include('./component/_c-accordion', {
            title: "講義中のレッスン内容は録音してもよいのでしょうか？",
            text: "録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br>ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。",
            icon: "",
            modifier: "type2"
          }) %>
          <%- include('./component/_c-accordion', {
            title: "講師はどんな人が担当しているのでしょうか？",
            text: "録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br>ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。",
            icon: "",
            modifier: "type2"
          }) %>
          <%- include('./component/_c-accordion', {
            title: "講師が合わないと感じた場合、変更してもらえるのでしょうか？",
            text: "録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br>ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。",
            icon: "",
            modifier: "type2"
          }) %>
          <%- include('./component/_c-accordion', {
            title: "講義当日のキャンセルは可能でしょうか？",
            text: "録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br>ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。",
            icon: "",
            modifier: "type2"
          }) %>
          <%- include('./component/_c-accordion', {
            title: "途中退会した場合、返金は可能でしょうか？",
            text: "録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br>ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。",
            icon: "",
            modifier: "type2"
          }) %>
      </section>

      <section class="p-component l-section">
        <div class="p-component__mainTitle">
          <h2 class="c-heading c-heading--2">アコーディオン</h2>
        </div>
        <div class="p-component__previewTitle">
          <h3 class="c-heading c-heading--3">.c-blogLower</h3>
        </div>
        <div class="p-component__preview">
          <%- include('./component/_c-blogLower', {
            title: "常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自…"
          }) %>
      </section>
      
    </div>
  </main>
  <div class="l-scroll-top">
    <%- include('./component/_c-scroll-top') %>
  </div>
  <%- include('./common/_p-footer', {page: page}) %>
</body>

</html>