<div class="c-introduction">
  <div class="c-introduction__contents">
    <div class="c-introduction__header">
      <p class="c-introduction__job"><%= job %></p>
      <p class="c-introduction__name"><%- name %></p>
    </div>
    <p class="c-introduction__text"><%- text %></p>
    <ul class="c-introduction__snsItmes">
      <li class="c-introduction__snsItem">
        <a href="#" class="c-introduction__snsItem-link">
          <picture class="c-introduction__nsnImg">
            <source srcset="./assets/images/common/icon-twitter.webp" type="image/webp">
            <img src="./assets/images/common/icon-twitter.png" alt="twitter" width="32" height="32" decoding="async" loading="lazy">
          </picture>
        </a>
      </li>
      <li class="c-introduction__snsItem">
        <a href="#" class="c-introduction__snsItem-link">
          <picture class="c-introduction__nsnImg">
            <source srcset="./assets/images/common/icon-facebook.webp" type="image/webp">
            <img src="./assets/images/common/icon-facebook.png" alt="facebook" width="" height="" decoding="async" loading="lazy">
          </picture>
        </a>
      </li>
      <li class="c-introduction__snsItem">
        <a href="#" class="c-introduction__snsItem-link">
          <picture class="c-introduction__nsnImg">
            <source srcset="./assets/images/common/icon-instagram.webp" type="image/webp">
            <img src="./assets/images/common/icon-instagram.png" alt="instagram" width="" height="" decoding="async" loading="lazy">
          </picture>
        </a>
      </li>
    </ul>
  </div>
  <div class="c-introduction__imgBlock">
    <picture class="c-introduction__img">
      <source srcset="./assets/images/about/card-img_<%= img_path %>.webp" type="image/webp">
      <img src="./assets/images/about/card-img_<%= img_path %>.jpg" alt="<%= alt %>" width="240" height="320" decoding="async" loading="lazy">
    </picture>
  </div>
</div>